# Salin file ini menjadi ".env.local" lalu isi dengan data dari Supabase Anda
# Dashboard Supabase > Project Settings > API

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi-dengan-anon-key-anda
